# Xcode
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# SPM
.build/
.swiftpm/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env

# macOS
.DS_Store
*.DS_Store

# CocoaPods
Pods/
Podfile.lock

# Secrets
*.p12
*.mobileprovision
YourSensitiveData.swift
